<manifest xmlns:android="http://schemas.android.com/apk/res/android"

package="com.pbhl.pbhl">

    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="Pbhl"
        android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/AppTheme">

        <activity android:name="com.pbhl.pbhl.MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3c6274e41581265f1393d4e07206ef6d9c1a627c" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>

    <!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <data android:scheme="oauth" android:host="https://twitter.com/oauth/authenticate"/>-->
<!--            </intent-filter>-->